@import "./main.scss";

#card_wrapper {
    background-color: $light-bg;
    padding: 3.5rem 3.1rem 2.7rem 3.1rem;
    border-radius: 25px;
    // La grid est ici plus appropriée que la flexbox
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 3.1rem 3.75rem;
    margin-bottom: $header-footer-margin;
    @media all and (max-width: 930px) {
        grid-template: auto / 1fr;
        padding: 0;
        gap: 1.25rem;
        background-color: transparent;
        margin-bottom: $header-footer-margin-mobile;
    }
}
