#card_wrapper {
    background-color: #f6f6f6;
    padding: 3.5rem 3.1rem 2.7rem 3.1rem;
    border-radius: 25px;
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 3.1rem 3.75rem;
    margin-bottom: 3.1rem;
    @media all and (max-width: 930px) {
        grid-template: auto / 1fr;
        margin-bottom: 1.7rem;
    }
}
