@import "./main.scss";

footer {
    background-color: $black;
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
        width: 7.6rem;
        // On peut utiliser la propriété filter pour changer la couleur d'un fichier SVG sans en télécharger un nouveau
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
            saturate(7500%) hue-rotate(70deg) brightness(99%) contrast(107%);
        margin-top: 4rem;
    }
    h2 {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 2rem 0;
    }
    @media all and (max-width: $responsive-breakpoint) {
        h2 {
            font-size: 12px;
            max-width: 33%;
            text-align: center;
            margin: 1rem 0 3.6rem 0;
        }
    }
}
