header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.1rem;
    img {
        user-select: none;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3.5rem;
        a {
            font-weight: 500;
            color: #000;
            font-size: 1.5rem;
            text-decoration: none;
            &.active {
                text-decoration: underline;
            }
        }
    }
    @media all and (max-width: 768px) {
        margin-bottom: 1.7rem;
        img {
            max-width: 9rem;
        }
        nav {
            gap: 1.6rem;
            a {
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }
}
