@import "./main.scss";

body {
    padding: 2.8rem 6.25rem 0 6.25rem;
    .home {
        margin: $header-footer-margin 0;
    }
    @media all and (max-width: $responsive-breakpoint-home) {
        padding: 1.25rem;
        .home {
            margin: $header-footer-margin-mobile 0;
        }
    }
}
