@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// Variables SCSS présentes sur tout le document pour rapidement changer une propriété réutilisée à de nombreux endroits
$header-footer-margin: 3.125rem;
$header-footer-margin-mobile: 1.7rem;
$light-bg: #f6f6f6;
$accent: #ff6060;
$black: #000;
$responsive-breakpoint: 600px;
$responsive-breakpoint-home: 930px;

$error-gap: 8.7rem;
$error-gap-mobile: 7.06rem;

body {
    margin: 0;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}
